.events-create {
  input[type="text"],
  textarea {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }

  textarea {
    min-height: 60px;
    resize: vertical;
  }
}

.events-search {
  .filters {
    border-bottom: 2px solid gray;
  }
}
.btn-round{
border-radius: 17px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.bottom-border {
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.content-form {
  padding: 5px;
  flex-flow: column nowrap;
  // overflow: scroll;
}

.panel.panel-default  {
  height: 90vh;
  margin: 12px;
  padding: 10px;
  box-shadow: 1px 2px 4px gray;
}

.tag-selected {
  margin-top: 10px;
}

.filters {
  width: 100%;
  padding-bottom: 5px;
}
.filters .tag {
  background-color: #0d9ae0;
  color: #FAFAFA;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 6px;
  font-weight: 400;
}
.events .event-list {
  overflow: hidden;
}
.events .event-list .event {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
