.events-create {
  input[type="text"],
  textarea {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }

  textarea {
    min-height: 60px;
    resize: vertical;
  }
}

.events-search {
  .filters {
    border-bottom: 2px solid gray;
  }
}

.bottom-border {
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.content-form {
  padding: 5px;
  flex-flow: column nowrap;
  // overflow: scroll;
}

.panel.panel-default  {
  height: 90vh;
  margin: 12px;
  padding: 10px;
  box-shadow: 1px 2px 4px gray;
}

.tag-selected {
  margin-top: 10px;
}

.filters {
  width: 100%;
  padding-bottom: 5px;
}
.filters .tag {
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 6px;
  font-weight: 400;
}
.events .event-list {
  overflow: hidden;
}
.events .event-list .event {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
