.events-create {
  input[type="text"],
  textarea {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }

  textarea {
    min-height: 60px;
    resize: vertical;
  }
}

.events-search {
  .filters {
    border-bottom: 1px solid #ccc;
  }
}
.btn-round{
border-radius: 17px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.content-form {
  padding: 5px;
  flex-direction: column;
  overflow: scroll;
}
.filters {
  width: 100%;
  padding-bottom: 5px;
}
.filters .tag {
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 6px;
  font-weight: 400;
}
.events .event-list {
  overflow: hidden;
}
.events .event-list .event {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
